.env
*/__pycache__
.DS_Store
logs/*
data/*
.envrc
credentials/*
streamlit/.streamlit/secrets.toml
dbt_project/logs/*
dbt_project/target/*
dbt_project/.user.yml
dbt_project/profiles.yaml
dbt_project/stayinformed.json
dbt_project/models/silver/schema.yaml
